/* Reset & Base Styles */
:root {
    --primary-color: #205781;
    --accent-color: #7ADAA5;
    --bg-color: #f5f9f8;
    --text-color: #333;
    --cta-color: #3aa17e;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}